/* RESET */
body {
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
}

/* MAIN LAYOUT */
.layout {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    background-color: #1f7a4d;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

/* SIDEBAR LINKS */
.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.sidebar a.active,
.sidebar a:hover {
    background-color: #2fa36b;
}

/* MAIN CONTENT */
.main-content {
    flex: 1;
    padding: 30px;
    background-color: #f5f7fa;
    box-sizing: border-box;
    overflow-y: auto;
}

/* TOP BAR */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.top-icons img {
    border-radius: 50%;
    margin-left: 15px;
}


.icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icons img {
    border-radius: 50%;
}

.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 30px 0;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    font-size: 18px;
    text-align: center;
}

.card span {
    display: block;
    font-size: 28px;
    color: #1f7a4c;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.box {
    background: white;
    padding: 20px;
    border-radius: 12px;
}

.box input, .box textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0 15px;
}

button {
    width: 100%;
    padding: 10px;
    background: #1f7a4c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.task {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.pending {
    color: orange;
}

.done {
    color: green;
}
